 /* @import url(https://fonts.googleapis.com/css?family=Indie+Flower);  */

.text-skill{
  font-family: indie-flower;
  font-size: 30px;
}


.columns {
  Width: 100%;
  }
  .column {
    width:100%;
  }
  @media (min-width: 48em) {
    .column {
      width: 50%;
      float:left;
    }
    .columns {
      content: "";
      display: table;
      clear: both;
    }
  }

  span.tagcloud--item{
    font-size: 20px;
    color: #08fdd8;
  }
  .main-division{
   background-color: black;
  }
  .blast{
    font-size: 50px;
    color: #08fdd8;
  }
  .text-skill{
    font-size: 15px;
    color: white;
    font-family: 'Indie Flower';
   
  }
  .blast-root::before{
 content: '<h1>';
 font-size: 10px;
 color: bisque;
 position: relative;
 bottom: 40px;
  }
  .blast-root::after{
    content: '</h2>';
    font-size: 10px;
    color: bisque;
    position: relative;
    top:5px;
  }
.first-division{
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 7%;
}
.first-division::before{
 content: '<Section>';
 font-size: 10px;
 color: bisque;
 position: relative;
 top:-15px;
}
.first-division::after{
  content: '</Section>';
  font-size: 10px;
  color: bisque;
  position: absolute;
  left: 6%;
  margin-top: 50px;
 }
.text-skill::before{
  content: '<p>';
  font-size: 10px;
  color: bisque;
  position: relative;
  top:-15px;
}
.text-skill::after{
  content: '</p>';
  font-size: 10px;
  color: bisque;
  position: relative;
  top:10px;
}
